.panel.panel-default.effective-panel-select
  = hidden_field_tag(input.field_name, input.value)

  .panel-body

    .selection
      %span.selected
        - if input.option_label.present?
          %span.selection-clear x
          %span.selection-label= input.option_label
        - else
          %span.selection-placeholder Please Choose
      %span.selection-arrow
        %b

    .selector
      .tabbable.tabs-left{role: 'tabpanel'}
        %ul.nav.nav-tabs{role: 'tablist'}
          - input.collection.each_with_index do |(group, _), index|
            - group_value = group.send(input.options[:group_method])

            %li{class: ('active' if group_value == input.group_value)}
              %a{'data-toggle': 'tab', role: 'tab', 'aria-controls': "#{group_value.parameterize}-#{input.object_id}", href: "##{group_value.parameterize}-#{input.object_id}"}
                = group

      .tab-content
        - input.collection.each_with_index do |(group, items), index|
          - group_label = group.send(input.options[:group_label_method]).to_s.downcase
          - group_value = group.send(input.options[:group_method])

          .tab-pane{id: "#{group_value.parameterize}-#{input.object_id}", class: ('active' if group_value == input.group_value) }
            %h2= group
            %p Select #{group_label} #{input.method_name}:

            %ul.options
              - Array(items).each do |item|
                - item_value = item.send(input.options[:option_key_method])

                %li{class: ('selected' if item_value == input.value), 'data-item-value' => item_value}
                  %a{href: '#'}= item.send(input.options[:option_value_method])




